name: docker push
on: [push]
jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: docker/build-push-action@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          username: '${{ secrets.DOCKER_USERNAME }}'
          password: '${{ secrets.DOCKER_PASSWORD }}'
          repository: yutachaos/kube-job-notifier
          tag_with_ref: true
